		 @charset "utf-8";
		 /*style.css */
		 body{
	 	margin:0px;
	 	padding:0px;
	 	background-color: #E9967A;
	 }
	  ul{
	  	list-style: none;
	  }
	  a{
	  	text-decoration:none;
	   }
	  #main{
	  	width:100%;
	  	height:100vh;
	  	box-sizing:border-box;
	  	background-color: #E9967A;
	  	position: relative;
	  	background-repeat: no-repeat;
	  	background-size: 500px;
	  	background-position:20% 80%;
	 }
	  nav{
	  	display:flex;
	  	justify-content:space-between;
	  	align-items: center;
	  	text-transform:uppercase;
	  	font-weight: 600;
	  	letter-spacing: 2px;
	  	font-family: calibri;
	  	position: fixed;
	  	top: 0;
	  	left: 0;
	  	width:100%;
	  	box-sizing: border-box;
	  	padding: 10px 50px;
	  	background-color: #F8F8FF;
	  	box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
	  	z-index: 1;
	  }
	  .menu{
	  	display: flex;
	  }
	  .menu li a{
	  	padding:10px 15px;
	  	color: #6c707c;
	  	font-size:12px;
	  }
	  .lang{
	  	#color:#292929;
	  }
	  .logo{
	  	font-size:25px;
	  	font-weight: bold;
	  	color:#292929;
	  	font-family: Poppins;
	  }
	  
	  .menu li a:hover,
	   .active{
	  	background-color: #292929;
	  	color: #FFFFFF !important;
	  	font-weight: bold;
	  	transition: all ease 0.4s;
	  }
	  .names{
	  	font-family: calibri;
	  	width:500px;
	  	position:absolute;
	  	left: 20%;
	  	top: 50%;
	  	transform: translate(-20%,-50%);
	  }
	  .names p {
	  	color: black;
	  }
	  .names {
	  	color:#F8F8FF;
	  	font-size:16px;
	  }
	  .names h1{
	  	font-family: Poppins;
	  	font-size: 40px;
	  	margin: 0px;
	  	letter-spacing: 3px;
	  	color: #292929;
	  }
	  .index-img{
	  	float: right;
	  }
	  .details{
	  	color:#F8F8FF;
	  }
	  .social{
	  	position: absolute;
	  	left: 50px;
	  	bottom: 50px;
	  	display: flex;
	  }
	  .social a{
	  	margin:6px 12px;
	  }
	  .social i{
	  	color:rgba(18,17,17,0.4);
	  	font-size: 14px;
	  }
	  .social a:hover i{
	  	color:#17d1ac;
	  	transition: all ease 0.5s;
	  }
	  #footer{
	  	position: fixed;
		  left: 0;
		  bottom: 0;
		  width: 100%;
		  color: white;
		  text-align: center;
	  }
	  h5{
	  	color: black;
	  }
	  p{
	  	color: black;
	  }
	  